/* @media (max-width:768px){
    .sliderAvatar {
        width: 50%;
    }
} */

.w_100{
    width: 100%;
}
.h_50{
    height: 50vh;
}
.h_100{
    height: 100%;
}

.slideAvatar{
    height: 100%;
    /* justify-content: center; */
}